/*=====================================
    AUTH PAGE
======================================*/

body {

    background: linear-gradient(135deg, #2563EB, #1E3A8A);

}

.auth-container {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

}

.auth-card {

    width: 100%;
    max-width: 450px;

    background: #fff;

    border-radius: 15px;

    padding: 40px;

    box-shadow: 0 20px 40px rgba(0, 0, 0, .15);

}

.auth-logo {

    text-align: center;

    margin-bottom: 30px;

}

.auth-logo i {

    font-size: 3.5rem;

    color: var(--primary);

    margin-bottom: 15px;

}

.auth-logo h1 {

    margin-bottom: 8px;

}

.auth-logo p {

    color: var(--text-light);

}

.auth-card form {

    display: flex;

    flex-direction: column;

    gap: 20px;

}

.auth-btn {

    width: 100%;

    margin-top: 10px;

}

.auth-footer {

    margin-top: 25px;

    text-align: center;

    color: var(--text-light);

}

.auth-footer a {

    color: var(--primary);

    font-weight: 600;

}

.auth-footer a:hover {

    text-decoration: underline;

}

@media(max-width:500px) {

    .auth-card {

        padding: 30px 20px;

    }

}