* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background: #f7f7fb;
    color: #14162B;
}


/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: white;
}


.logo {
    font-size: 25px;
    font-weight: bold;
    color: #4F46E5;
}


nav a {
    text-decoration: none;
    margin-left: 25px;
    color: #14162B;
}


nav a:hover {
    color: #4F46E5;
}



/* Hero */

.hero {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.hero-content {
    max-width: 700px;
}


.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}


.hero p {
    font-size: 18px;
    color: #6B6E85;
    line-height: 1.6;
    padding: 10px;
}



/* Buttons */

.buttons {
    margin-top: 30px;
}


.btn {
    display: inline-block;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    margin: 10px;
}


.primary {
    background: #4F46E5;
    color: white;
}


.secondary {
    background: white;
    color: #4F46E5;
    border: 2px solid #4F46E5;
}



/* Features */

.features {
    padding: 50px 8%;
    text-align: center;
}


.cards {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 30px;
}


.card {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 12px;
}


.card p {
    margin-top: 15px;
    color: #6B6E85;
    line-height: 1.5;
   
}


/* Footer */

footer {
    text-align: center;
    padding: 20px;
    background: white;
}

@media(max-width:900px) {
    .navbar {
        gap: 6px;
    }
    nav{
        gap: 10px;

    }
    nav a{
        font-size: x-small;
        font-weight: bolder;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    
}